body{
    background-color: #302e2b;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.squareRow{
    display: flex;
}
   

.white{
    background-color: #eeeed2;
}

.black{
    background-color: #769656;
}

.square{
    width: 100px;
    height: 100px;
}